<div class="majorContainer">
  <div class="topHalf">
    <div class="screenTitle">
      <div class="firstLine">Welcome to</div>
      <div class="secondLine">Hazmi's Portfolio</div>
    </div>
    <div class="screenContainer">
      <div class="screen">
        <div class="screenContentHolder">
          <div class="screenHeader">
            <div class="leftHeader">
              Start by&nbsp;
              <div class="word-container">
                <!-- make a div for each letter, give it class "letter" and assign animation
            state to each letter 'in', 'out', 'incoming' -->
                @for (letter of displayedText; track $index) {
                  <div [@letterState]="letterStates[$index]">
                    {{ letter.char }}
                  </div>
                }
              </div>
            </div>

            <div>Linkedin</div>
          </div>
          <div class="screenGrid">
            <a href="#sp" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/sp0.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">Signal Processing</div>
                <div class="description">
                  Signal processing tool designed to analyze and visualize
                  mathematical functions and signals with Matplotlib
                </div>
              </div>
            </a>

            <a href="#bcode" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/bcode.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">Barcode Detector</div>
                <div class="description">
                  Tool for detecting and decoding barcodes from images or video
                  inputs
                </div>
              </div>
            </a>
            <a href="#smart agri" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/if.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">Smart Farming</div>
                <div class="description">
                  Dashboard editor with custom widgets and real-time data for
                  smart farming sensors
                </div>
              </div>
            </a>

            <a href="#smart irrigation" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/smart irrigation.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">Smart Irrigation</div>
                <div class="description">
                  App for predicting the evaporation of water based on
                  temperature and humidity
                </div>
              </div>
            </a>

            <a href="#bschool" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/bschool.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">School Management</div>
                <div class="description">
                  school management app for parents, staff, and teachers, to
                  manage payments, contracts, and students, using Jetpack
                  Compose with Kotlin
                </div>
              </div>
            </a>

            <a href="neon" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/neon vs theme.jpg"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">Cyberpunk theme</div>
                <div class="description">
                  Neon dark theme for visual studio 2019-22
                </div>
              </div>
            </a>

            <a href="wow events" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/wow events.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">WoW Event Calendar</div>
                <div class="description">
                  A simple yet dynamic event tracker for World of Warcraft
                </div>
              </div>
            </a>

            <a href="learning space" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/ls0.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">Learning Space</div>
                <div class="description">
                  A real-time object detection app with generated interactive
                  quizzes with random answers based on detected objects,
                  featuring a scoring system for an engaging user experience
                </div>
              </div>
            </a>

            <a href="luna" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/luna.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">Luna Unit Frames (fork)</div>
                <div class="description">
                  Fork of LUF with more added features
                </div>
              </div>
            </a>

            <a href="another potato" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/anotherpotato.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">Another Potato (fork)</div>
                <div class="description">
                  Bringing the best of Shyproject-titlefox and potatofox into
                  one theme
                </div>
              </div>
            </a>

            <a href="portfolio" class="cell">
              <div class="imageDescContainer">
                <div class="imageContainer">
                  <img
                    ngSrc="images/portfolio.png"
                    class="imageInsideScreen"
                    placeholder
                    width="500"
                    height="500"
                  />
                </div>
                <div class="project-title">Hazmi's Portfolio</div>
                <div class="description">You are looking at it right now</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="underscreencontainer">-->
  <!--    <div class="gradientborder"></div>-->

  <app-underscreencard class="undersreencard"></app-underscreencard>
  <app-underscreenprojects
    class="underscreenprojects"
  ></app-underscreenprojects>

  <!--  </div>-->
</div>
