<div class="underscreen">

  <div class="bgcolorholder">
    <div class="bgcolor"></div>
    <div class="projcontainer" id="wow events">
      <div class="proj-header">
        <img ngSrc="images/wow events.png" class="titleimage" placeholder width="500" height="500"/>
        <div class="title">WoW Event Calendar</div>
      </div>
      <p class="date">2023 - 2025</p>
      <p class="desc">
        Never miss a raid reset again. Track TWoW server events with filtering, dark mode, and (with request) admin
        configuration.
      </p>
      <div class="tags">
        <button>Spring Boot</button>
        <button>Spring Security</button>
        <button>Kotlin</button>
        <button>Postgresql</button>
        <button>Angular</button>
        <button>Angular Material</button>
        <button>Supabase</button>
        <button>JUnit</button>
        <button>AWS</button>
        <button>EC2</button>
        <button>Nginx</button>
      </div>
      <div class="proj-content">
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/tc1.png)'"></div>

          <img ngSrc="images/tc1.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="calendar"></mat-icon>
            <div class="carddesc">Event Tracking Timeline</div>
            <div class="image-desc">Main dashboard displaying the event timeline, dark mode toggle, and filters</div>
          </div>
        </div>
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/tc2.png)'"></div>

          <img ngSrc="images/tc2.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="layout"></mat-icon>
            <div class="carddesc">Want access to config?</div>
            <div class="image-desc">You will get an email when access is granted</div>
          </div>
        </div>
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/tc4.png)'"></div>
          <img ngSrc="images/tc4.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="store"></mat-icon>
            <div class="carddesc">ZG enchants with receipts</div>
            <div class="image-desc">Every enchant documented, no guesswork needed</div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/tc0.png)'"></div>
          <img ngSrc="images/tc0.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="settings"></mat-icon>
            <div class="carddesc">Admin controls</div>
            <div class="image-desc">Reset times and roles, all in one place</div>
          </div>
        </div>

      </div>
      <div class="doubleBtnHolder">
        <a class="normal-link" href="https://hazmimosbah.com/wow-events/">
          <div class="link-content">
            <span class="material-icons">link</span>
            Website
          </div>
        </a>
        <a class="github-link" href="https://github.com/h4zm1/NgEverlook-Calendar">
          <div class="link-content">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                 stroke-linecap="round" stroke-linejoin="round">
              <use href="#gitlink"></use>
            </svg>
            Github
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="bgcolorholder">
    <div class="bgcolor"></div>
    <div class="projcontainer" id="sp">
      <div class="proj-header">
        <img ngSrc="images/sp0.png" class="titleimage" placeholder width="500" height="500"/>
        <div class="title">Signal Processing (Python)</div>
      </div>
      <p class="date">2023 - 2024</p>
      <p class="desc">
        Signal processing tool designed to analyze and visualize mathematical
        functions and signals with Matplotlib
      </p>
      <div class="tags">
        <button>Python</button>
        <button>PySide2</button>
        <button>Matplotlib</button>
      </div>
      <div class="proj-content">
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/sp2.png)'"></div>
          <img ngSrc="images/sp2.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="graph"></mat-icon>
            <div class="carddesc">Preview chart</div>
            <div class="image-desc">Download the file from github and give it a try</div>
          </div>
        </div>
        <div class="rectanglecard">
          <!-- Blur background layer -->
          <div class="blur-bg" [style.background-image]="'url(images/sp1.png)'"></div>

          <img ngSrc="images/sp1.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="function"></mat-icon>
            <div class="carddesc">Highly customizable</div>
            <div class="image-desc">Cos, sin, fourier transform, custom functions.. you name it</div>
          </div>
        </div>
      </div>

      <a class="github-link" href="https://github.com/h4zm1/Signal-Processing">
        <div class="link-content">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <use href="#gitlink"></use>
          </svg>
          Github
        </div>
      </a>
    </div>
  </div>

  <div class="bgcolorholder">
    <div class="bgcolor"></div>
    <div class="projcontainer" id="bcode">
      <div class="proj-header">
        <img ngSrc="images/bcode.png" class="titleimage" placeholder width="500" height="500"/>
        <div class="title">Barcode Detector</div>
      </div>
      <p class="date">2023 - 2024</p>
      <p class="desc">
        Tool for detecting and decoding barcodes from images or video inputs
      </p>
      <div class="tags">
        <button>Python</button>
        <button>PySide2</button>
        <button>OpenCV</button>
      </div>
      <div class="proj-content">
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/bc2.png)'"></div>

          <img ngSrc="images/bc2.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="upload"></mat-icon>

            <div class="carddesc">Multisource input</div>
            <div class="image-desc">
              Can take image, video or live video feed as input
            </div>
          </div>
        </div>

        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/bc5.png)'"></div>
          <img ngSrc="images/bc5.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="ui"></mat-icon>
            <div class="carddesc">Simple and clear ui</div>
            <div class="image-desc">
              Made lightweight and with QT Quicks can better support embedded
              devices
            </div>
          </div>
        </div>
      </div>

      <a class="github-link" href="https://github.com/h4zm1/Barcode-Detector">
        <div class="link-content">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <use href="#gitlink"></use>
          </svg>
          Github
        </div>
      </a>
    </div>
  </div>

  <div class="bgcolorholder">
    <div class="bgcolor"></div>
    <div class="projcontainer" id="smart agri">
      <div class="proj-header">
        <img ngSrc="images/if.png" class="titleimage" placeholder width="500" height="500"/>
        <div class="title">Smart farming</div>
      </div>
      <p class="date">2023 - 2024</p>
      <p class="desc">
        Dashboard editor with custom widgets and real-time data for smart
        farming sensors.
      </p>
      <div class="tags">
        <button>Java</button>
        <button>IoT</button>
        <button>Firebase</button>
        <button>Realtime database</button>
      </div>
      <div class="proj-content">
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/sa2.png)'"></div>

          <img ngSrc="images/sa2.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="layout"></mat-icon>
            <div class="carddesc">Customizable dashboard</div>
            <div class="image-desc">
              Multiple dashboards with different widgets
            </div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/sa3.png)'"></div>

          <img ngSrc="images/sa3.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="signal"></mat-icon>
            <div class="carddesc">Selecting new widget based on a sensor</div>
            <div class="image-desc">
              Sensors are dynamily retrieved from what's availabe on the firebase
              database
            </div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/sa4.png)'"></div>

          <img ngSrc="images/sa4.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="options"></mat-icon>
            <div class="carddesc">Multipage dashboard</div>
            <div class="desc">
              Can have different pages for more custom layout and settings
            </div>
          </div>
        </div>
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/sa1.png)'"></div>

          <img ngSrc="images/sa1.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="device"></mat-icon>
            <div class="carddesc">Different types for widgets</div>
            <div class="image-desc">Select types from of graph, gauge, raw data...</div>
          </div>
        </div>
      </div>
      <a class="github-link" href="https://github.com/h4zm1/Smart-farming">
        <div class="link-content">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <use href="#gitlink"></use>
          </svg>
          Github
        </div>
      </a>
    </div>
  </div>

  <div class="bgcolorholder">
    <div class="bgcolor"></div>
    <div class="projcontainer" id="smart irrigation">
      <div class="proj-header">
        <img ngSrc="images/smart irrigation.png" class="titleimage" placeholder width="500" height="500"/>
        <div class="title">Smart Irrigation</div>
      </div>
      <p class="date">2023 - 2024</p>
      <p class="desc">
        App for predicting the evaporation of water based on temperature and
        humidity.
      </p>
      <div class="tags">
        <button>Python</button>
        <button>Django</button>
        <button>Cloudflare Tunnels</button>
        <button>Self-hosting</button>
        <button>ngrok</button>
        <button>nginx</button>
      </div>
      <div class="proj-content">
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/si2.png)'"></div>

          <img ngSrc="images/si2.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="plant"></mat-icon>
            <div class="carddesc">Plant identification system</div>
            <div class="image-desc">Identifying plants using Pl&#64;ntNet api</div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/si1.png)'"></div>

          <img ngSrc="images/si1.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="cloud"></mat-icon>
            <div class="carddesc">How much water left in the soil</div>
            <div class="image-desc">
              Generate an estimation based on previous collected data and current
              soil temperature and humidity
            </div>
          </div>
        </div>
      </div>

      <a class="github-link" href="https://github.com/h4zm1/IrrigationIntelligente">
        <div class="link-content">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <use href="#gitlink"></use>
          </svg>
          Github
        </div>
      </a>
    </div>
  </div>

  <div class="bgcolorholder">
    <div class="bgcolor"></div>
    <div class="projcontainer" id="bschool">
      <div class="proj-header">
        <img ngSrc="images/bschool.png" class="titleimage" placeholder width="500" height="500"/>
        <div class="title">School Management App</div>
      </div>
      <p class="date">2023 - 2024</p>
      <p class="desc">
        school management app for parents, staff, and teachers, to manage
        payments, contracts, and students, using Jetpack Compose with Kotlin.
      </p>
      <div class="tags">
        <button>Kotlin</button>
        <button>Jetpack Compose</button>
        <button>JUnit</button>
        <button>PHP</button>
        <button>Laravel</button>
      </div>
      <div class="proj-content">
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/bs2.png)'"></div>

          <img ngSrc="images/bs2.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="school"></mat-icon>
            <div class="carddesc">Clean and simple UI</div>
            <div class="image-desc">Even my grandma can use it</div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/bs1.png)'"></div>

          <img ngSrc="images/bs1.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="calendar"></mat-icon>
            <div class="carddesc">Date-based notes and events</div>
            <div class="image-desc">Management made easy</div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/bs4.png)'"></div>

          <img ngSrc="images/bs4.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="graph"></mat-icon>
            <div class="carddesc">Robust API design</div>
            <div class="image-desc">
              All services engineered from the ground up with a well-defined
              architecture
            </div>
          </div>
        </div>
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/bs6.png)'"></div>

          <img ngSrc="images/bs6.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="people"></mat-icon>
            <div class="carddesc">Detailed user creation menu</div>
            <div class="image-desc">From gov ID to associated bank</div>
          </div>
        </div>
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/bs7.png)'"></div>

          <img ngSrc="images/bs7.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="message"></mat-icon>
            <div class="carddesc">Built-in chat system</div>
            <div class="image-desc">Send email like a caveman you say?</div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/bs3.png)'"></div>

          <img ngSrc="images/bs3.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="ui"></mat-icon>
            <div class="carddesc">
              Intuitive modern design like swipe to edit/delete
            </div>
            <div class="image-desc">
              Why complicate things when you can just swipe...left?
            </div>
          </div>
        </div>
      </div>

      <a class="github-link" href="https://github.com/h4zm1/School-Management-App">
        <div class="link-content">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <use href="#gitlink"></use>
          </svg>
          Github
        </div>
      </a>
    </div>
  </div>


  <div class="bgcolorholder">
    <div class="bgcolor"></div>
    <div class="projcontainer" id="learning space">
      <div class="proj-header">
        <img ngSrc="images/ls0.png" class="titleimage" placeholder width="500" height="500"/>
        <div class="title">Learning Space</div>
      </div>
      <p class="date">2023 - 2024</p>
      <p class="desc">
        A real-time object detection app with generated interactive quizzes with
        random answers based on detected objects, featuring a scoring system for
        an engaging user experience.
      </p>
      <div class="tags">
        <button>Flutter</button>
        <button>LiteRT</button>
        <button>Object detection</button>
        <button>SQLite</button>
      </div>
      <div class="proj-content">
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/ls2.png)'"></div>

          <img ngSrc="images/ls2.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="devices"></mat-icon>
            <div class="carddesc">Detect. Quiz. Panic. Repeat</div>
            <div class="image-desc">Combining real-time object recognition with adaptive quiz challenges</div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/ls3.png)'"></div>
          <img ngSrc="images/ls3.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="code"></mat-icon>
            <div class="carddesc">Under the hood</div>
            <div class="image-desc">Translation API and database storage complementing the detection feature</div>
          </div>
        </div>
      </div>

      <a class="github-link" href="https://github.com/h4zm1/LSAPP">
        <div class="link-content">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <use href="#gitlink"></use>
          </svg>
          Github
        </div>
      </a>
    </div>
  </div>

  <div class="bgcolorholder">
    <div class="bgcolor"></div>
    <div class="projcontainer" id="luna">
      <div class="proj-header">
        <img ngSrc="images/luna.png" class="titleimage" placeholder width="500" height="500"/>
        <div class="title">Luna Unit Frames (fork)</div>
      </div>
      <p class="date">2023 - 2024</p>
      <p class="image-desc">Fork of LUF with more added features</p>
      <div class="tags">
        <button>LUA</button>
        <button>Addon</button>
      </div>
      <div class="proj-content">
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/luf1.png)'"></div>

          <img ngSrc="images/luf1.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="ui"></mat-icon>
            <div class="carddesc">New cosmetic changes</div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/luf2.png)'"></div>

          <img ngSrc="images/luf2.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="options"></mat-icon>
            <div class="carddesc">Up to 6 buff/debuff slots with interchangeable names</div>
          </div>
        </div>
      </div>

      <a class="github-link" href="https://github.com/h4zm1/LunaUnitFrames">
        <div class="link-content">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <use href="#gitlink"></use>
          </svg>
          Github
        </div>
      </a>
    </div>
  </div>

  <div class="bgcolorholder">
    <div class="bgcolor"></div>
    <div class="projcontainer" id="matching">
      <div class="proj-header">
        <img ngSrc="images/pg00.png" class="titleimage" placeholder width="500" height="500"/>
        <div class="title">System level card matching puzzle</div>
      </div>
      <p class="date">2023 - 2024</p>
      <p class="desc">
        Card matching puzzle showcasing system-level programming through custom Windows context menu integration,
        transparancy, window drag.. using Qt6
      </p>
      <div class="tags">
        <button>QT</button>
        <button>C++</button>
      </div>
      <div class="proj-content">
        <div class="squarecard">
          <div class="blur-bg" [style.background-image]="'url(images/pg1.png)'"></div>

          <img ngSrc="images/pg1.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="puzzle"></mat-icon>
            <div class="carddesc">It works</div>
            <div class="image-desc">UI built with Qt Creator</div>
          </div>
        </div>
        <div class="rectanglecard">
          <div class="blur-bg" [style.background-image]="'url(images/pg2.png)'"></div>

          <img ngSrc="images/pg2.png" class="contentimage" placeholder width="500" height="500"/>
          <div class="under-image">
            <mat-icon svgIcon="windows"></mat-icon>
            <div class="carddesc">Custom native context menu</div>
            <div class="image-desc">Access to native Win32 functions</div>
          </div>
        </div>
      </div>

      <a class="github-link" href="https://github.com/h4zm1/SimplePG">
        <div class="link-content">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <use href="#gitlink"></use>
          </svg>
          Github
        </div>
      </a>
    </div>
  </div>
</div>
<div class="bgcolorholder">
  <div class="bgcolor"></div>
  <div class="projcontainer" id="neon">
    <div class="proj-header">
      <img ngSrc="images/neon vs theme.jpg" class="titleimage" placeholder width="500" height="500"/>
      <div class="title">Cyberpunk theme</div>
    </div>
    <p class="date">2023 - 2024</p>
    <p class="desc">One of the top rated Neon dark theme for visual studio 2019-22</p>
    <div class="tags">
      <button>Visual Studio theme</button>
      <button>XML</button>
    </div>
    <div class="proj-content">
      <div class="squarecard">
        <div class="blur-bg" [style.background-image]="'url(images/cp2.png)'"></div>
        <img ngSrc="images/cp2.png" class="contentimage" placeholder width="500" height="500"/>
        <div class="under-image">
          <mat-icon svgIcon="store"></mat-icon>
          <div class="carddesc">One of the top rated themes</div>
        </div>
      </div>
      <div class="rectanglecard">
        <div class="blur-bg" [style.background-image]="'url(images/cp4.png)'"></div>
        <img ngSrc="images/cp4.png" class="contentimage" placeholder width="500" height="500"/>
        <div class="under-image">
          <mat-icon svgIcon="browser"></mat-icon>
          <div class="carddesc">Available on visual studio marketplace</div>
        </div>
      </div>
    </div>

    <a class="github-link" href="https://github.com/h4zm1/Cyberpunk-Theme">
      <div class="link-content">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round">
          <use href="#gitlink"></use>
        </svg>
        Github
      </div>
    </a>
  </div>
</div>

<div class="bgcolorholder">
  <div class="bgcolor"></div>
  <div class="projcontainer" id="portfolio">
    <div class="proj-header">
      <img ngSrc="images/portfolio.png" class="titleimage-withbg" placeholder width="500" height="500"/>
      <div class="title">Hazmi's Portfolio</div>
    </div>
    <p class="date">2025</p>
    <p class="desc">You are looking at it right now</p>
    <div class="tags">
      <button>Angular</button>
      <button>Angular Material</button>
      <button>SSR</button>
    </div>
    <div class="proj-content">
      <div class="squarecard">
        <div class="blur-bg" [style.background-image]="'url(images/pf1.png)'"></div>
        <img ngSrc="images/pf1.png" class="contentimage" placeholder width="500" height="500"/>
        <div class="under-image">
          <div class="carddesc" style="padding-top: 1rem">Scan for magic trick</div>
          <div class="image-desc">Surprise surprise</div>
        </div>
      </div>
    </div>

    <a class="github-link" href="https://github.com/h4zm1/Portfolio">
      <div class="link-content">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round">
          <use href="#gitlink"></use>
        </svg>
        Github
      </div>
    </a>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="gitlink" viewBox="0 0 24 24" fill="none" stroke="currentColor">
    <path
      d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"/>
  </symbol>
</svg>
