.majorContainer {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: -webkit-fill-available;
  align-items: center;
  padding-top: 18rem;
}

.screenTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstLine {
  font-size: 3rem;
  font-weight: 600;
}

.secondLine {
  font-size: 6rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #2563eb, #22c55e, #818cf8);
  color: transparent;
  background-clip: text;
  margin-top: -24px;
}

.screenContainer {
  //background-color: #1e1e1e;

  perspective: 1000px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
  //padding-top: 10rem;
  //text-align: -webkit-center;
  //margin-top: 12.7rem;
  margin-top: -75px;
}

.screenContentHolder {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  //margin-bottom: 7rem;
  //width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  //padding-top: .75rem;
  font-weight: 600;
}


.screen {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: solid;
  border-color: #6c6c6c;
  border-radius: 40px;
  background-color: #111111;
  //aspect-ratio: 16/9;
  max-width: 61rem;
  height: 38rem;
  padding: 1.25rem;
  width: 100%;
}


.screen::after { // there's a 1 pixel scrolling that happens after every page refresh, and using ::after pseudo element is the only that fixed this
  border-color: #6c6c6c;
  border-radius: 40px;
  background-color: #111111;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: scale(1.05) rotateX(14deg) translateZ(0px);

  transform-origin: center center;
  z-index: -1;
}

@media (min-width: 768px) {
  .screen {
    //height: 48rem;
  }
}

.screenHeader{
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-color: rgb(156, 163, 175);
  border-bottom-style: solid;
  margin-bottom: .75rem;
  color: rgb(17, 17, 17);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: .25rem;
}
.leftHeader{
  display: inherit;
}
.word-container {
  display: flex;
  height: 50px;
  overflow: hidden;
}
.letter {
  position: relative;
  font-size: 24px;
  margin: 0 2px;
}
.other2 {
  //background-color: #f0e10b;
  width: 1000px;
  height: 500px;
}

.screen-wrapper {
  width: 100%;
  height: 30rem;
  max-width: 64rem;
}

@media only screen and (max-width: 587px) {
  .screenContainer {
    margin-top: 8rem;
  }
  .screen {
    //width: 20rem;
    height: 27rem;
  }
}

.screenGrid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  //grid-template-rows: 200px 200px;
  /* height: 70vh; */
  /* grid-row-gap: 5vh; */
  background-color: #f5f5f5;
  gap: 1rem;
  //row-gap: 61px;
  //padding: 4rem 1.25rem;
  //height: 100%;
  //overflow: hidden;
  transition: all .2s;
  margin-top: 3px;
}

.cell {
  //background-color: red;
  align-content: center;
  //border: solid;
  border-width: thin;
  //border-radius: 7px;
}
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}
.imageDescContainer {

}
.project-title{
  font-size: 15px;
  color: rgb(17, 17, 17);
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
.imageContainer {
  display: flex;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: .75rem;
  line-height: 1rem;
  color: #4B5563FF;
  padding-left: 3px;
  padding-right: 3px;
}

.imageInsideScreen {
  display: block;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #9CA3AFFF;
  border-radius: 7px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.undersreencard {
  padding-bottom: 10rem;
}

.underscreenprojects {
  max-width: 1024px;
}
