<div class="majorContainer">
  <div class="screenTitle">
    <div class="firstLine">Welcome to</div>
    <div class="secondLine">Hazmi's Portfolio</div>
  </div>
  <div class="screenContainer">
    <div class="screen">
      <div class="screenContentHolder">
        <div class="screenHeader">
          HEADER
        </div>
        <div class="screenGrid">

          <a href="#sp" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/sp0.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

          <a href="#bcode" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/bcode.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>

          </a>
          <a href="#smart agri" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/if.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

          <a href="#smart irrigation" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/smart irrigation.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

          <a href="#bschool" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/bschool.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

          <a href="portfolio" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/portfolio.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

          <a href="neon" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/neon vs theme.jpg" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

          <a href="wow events" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/wow events.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

          <a href="learning space" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/ls0.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

          <a href="luna" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/luna.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

          <a href="another potato" class="cell">
            <div class="imageDescContainer">
              <div class="imageContainer">
                <img ngSrc="images/anotherpotato.png" class="imageInsideScreen" placeholder width="500" height="500">
              </div>
              <div class="description">Text description for this project.</div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
  <!--  <div class="underscreencontainer">-->
  <!--    <div class="gradientborder"></div>-->
  <app-underscreencard class="undersreencard"></app-underscreencard>
  <app-underscreenprojects class="underscreenprojects"></app-underscreenprojects>
  <!--  </div>-->
</div>
