<div class="majorContainer">

  <div class="screenContainer">
    <div class="screen">
      <div class="screenGrid">
        <a href="" class="cell">

          <div class="imageDescContainer">
            <div class="imageContainer">
              <img ngSrc="images/sp.png" class="imageInsideScreen" placeholder  width="500" height="500" >
            </div>
            <div class="description">Text description for this project.</div>
          </div>

        </a>
        <a href="" class="cell">

          <div class="imageDescContainer">
            <div class="imageContainer">
              <img ngSrc="images/bcode.png" class="imageInsideScreen" placeholder  width="500" height="500" >
            </div>
            <div class="description">Text description for this project.</div>
          </div>

        </a>
        <a href="" class="cell">

          <div class="imageDescContainer">
            <div class="imageContainer">
              <img ngSrc="images/smart agri.png" class="imageInsideScreen"  placeholder  width="500" height="500" >
            </div>
            <div class="description">Text description for this project.</div>
          </div>

        </a>
        <a href="" class="cell">

          <div class="imageDescContainer">
            <div class="imageContainer">
              <img ngSrc="images/smart irrigation.png" class="imageInsideScreen" placeholder  width="500" height="500" >
            </div>
            <div class="description">Text description for this project.</div>
          </div>

        </a>
        <a href="" class="cell">

          <div class="imageDescContainer">
            <div class="imageContainer">
              <img ngSrc="images/bschool.png" class="imageInsideScreen" placeholder  width="500" height="500" >
            </div>
            <div class="description">Text description for this project.</div>
          </div>

        </a>
        <a href="" class="cell">

          <div class="imageDescContainer">
            <div class="imageContainer">
              <img ngSrc="images/sp.png" class="imageInsideScreen" placeholder  width="500" height="500" >
            </div>
            <div class="description">Text description for this project.</div>
          </div>

        </a>
        <a href="" class="cell">
          <div class="description">7</div>
        </a>
        <a href="" class="cell">
          <div class="description">8</div>
        </a>
      </div>
    </div>
  </div>


  <div class="other">
    <img ngSrc="images/sp.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>

  <div class="other">
    <img ngSrc="images/bcode.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>

  <div class="other2">
    <img ngSrc="images/smart agri.png" class="imageInsideScreen"  placeholder  width="500" height="500" >
  </div>

  <div class="other">
    <img ngSrc="images/smart irrigation.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>

  <div class="other">
    <img ngSrc="images/bschool.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>

</div>
