.other {
  //background-color: aqua;
  width: 1000px;
  height: 1000px;
}

.underscreen {
  //background-color: gray;
}

.bgcolorholder {
  position: relative;
}

.bgcolor {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(16px);
  border-radius: 36px;
  //transform: scale(0.99, 0.99);
  opacity: .7;
  background-image: radial-gradient(circle farthest-side at 0 100%, #00ccb1, transparent),
  radial-gradient(circle farthest-side at 100% 0, #7b61ff, transparent),
  radial-gradient(circle farthest-side at 100% 100%, #ffc414, transparent),
  radial-gradient(circle farthest-side at 0 0, #1ca0fb, #141316);
}

.imageInsideScreen {
  display: block;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #363636;
  border-radius: 7px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.projcontainer {
  background-color: #000000;
  //padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-radius: 38px;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.proj-header {
  display: flex;
  align-items: center;
  gap: 14px;
}

.titleimage {
  height: 60px;
  border-radius: 1rem;
  width: 60px;
}

.titleimage-withbg {
  background-color: #E5E7EBFF;
  height: 60px;
  border-radius: 1rem;
  width: 60px;
}

.title {
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: 3rem;
  font-weight: 700;

  &.visible {
    opacity: 0.8;
  }

  span {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &.visible span {
    opacity: 0.8;
  }
}

.disc {
  font-size: .875rem;
  color: #D4D4D4FF;
}

.date {
  font-size: 1.125rem;
  color: #E5E5E5FF;
  font-weight: 700;
}

button {
  border-radius: 10px;
  cursor: default;
  border: 0 solid #e5e7eb;
  background-color: rgb(39, 39, 42);
  color: white;
  padding: .5rem 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-bottom: 2rem;
}

button {

}

.proj-content {
  display: grid;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.contentimage {
  //aspect-ratio: 8.24;
  height: 100%;
  width: 100%;
  min-height: 6rem;
  object-fit: cover;
  border-radius: .5rem;
}

.squarecard {
  grid-column: span 1/span 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #FFFFFF33;
  padding: .375rem;
  border-radius: .75rem;
}

.rectanglecard {
  grid-column: span 2/span 2;
  display: flex;
  flex-direction: column;
  border: 1px solid #FFFFFF33;
  padding: .375rem;
  border-radius: .75rem;
}

.carddisc {
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.2s ease;
}

.squarecard:hover .carddisc,
.rectanglecard:hover .carddisc {
  transform: translateX(10px);
}
.github-link{
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  display: block;
  width: fit-content;
  align-self: center;
  padding-top: 2rem;
}
.link-content{
  display: flex;
  gap: .5rem;
  border-radius: 1rem;
  padding: .5rem 1rem;
  background: linear-gradient(#000 0 0) padding-box, linear-gradient(to right,#d946ef, #06b6d4 ) border-box;
  color: #fff;
  border: 3px solid transparent;
  align-items: center;
}
.link-content:hover{
  background:  padding-box, linear-gradient(to right,#d946ef, #06b6d4 ) border-box;
}
