.other {
  //background-color: aqua;
  width: 1000px;
  height: 1000px;
}

.underscreen {
  //background-color: gray;
}

.imageInsideScreen {
  display: block;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #363636;
  border-radius: 7px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.projcontainer {
  background-color: #121212;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.proj-header {
  display: flex;
  align-items: center;
  gap: 14px;
}

.titleimage {
  height: 60px;
  border-radius: 1rem;
  width: 60px;
}

.titleimage-withbg {
  background-color: #E5E7EBFF;
  height: 60px;
  border-radius: 1rem;
  width: 60px;
}

.title {
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.visible {
    opacity: 1;
  }

  span {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &.visible span {
    opacity: 1;
  }
}

//h1{
//  color: white;
//}
button {
  border-radius: 10px;
  cursor: default;
  border: 0 solid #e5e7eb;
  background-color: rgb(39, 39, 42);
  color: white;
  padding: .5rem 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.proj-content {
  display: grid;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.contentimage {
  //aspect-ratio: 8.24;
  height: 100%;
  width: 100%;
  min-height: 6rem;
  object-fit: cover;
  border-radius: .5rem;
}

.squarecard {
  grid-column: span 1/span 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #FFFFFF33;
  padding: .375rem;
  border-radius: .75rem;
}

.rectanglecard {
  grid-column: span 2/span 2;
  display: flex;
  flex-direction: column;
  border: 1px solid #FFFFFF33;
  padding: .375rem;
  border-radius: .75rem;
}

.carddisc {
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.2s ease;
}

.squarecard:hover .carddisc,
.rectanglecard:hover .carddisc {
  transform: translateX(10px);
}
