.other {
  //background-color: aqua;
  width: 1000px;
  height: 1000px;
}
.underscreen{

}
.imageInsideScreen{
  display: block;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #363636;
  border-radius: 7px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
