<div class="underscreen">

  <div class="other" id="sp">
    <img ngSrc="images/sp.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>

  <div class="other" id="bcode">
    <img ngSrc="images/bcode.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>

  <div class="other" id="smart agri">
    <img ngSrc="images/smart agri.png" class="imageInsideScreen"  placeholder  width="500" height="500" >
  </div>

  <div class="other" id="smart irrigation">
    <img ngSrc="images/smart irrigation.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>

  <div class="other" id="bschool">
    <img ngSrc="images/bschool.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>
  <div class="other" id="portfolio">
    <img ngSrc="images/portfolio.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>
  <div class="other" id="neon">
    <img ngSrc="images/neon vs theme.jpg" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>
  <div class="other" id="wow events">
    <img ngSrc="images/wow events.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>
  <div class="other" id="learning space">
    <img ngSrc="images/ls.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>
  <div class="other" id="luna">
    <img ngSrc="images/luna.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>
  <div class="other" id="other potato">
    <img ngSrc="images/anotherpotato.png" class="imageInsideScreen" placeholder  width="500" height="500" >
  </div>
</div>

