<div class="underscreen">

<div class="projcontainer" id="sp">
  <div class="proj-header">
    <img ngSrc="images/sp0.png" class="titleimage" placeholder  width="500" height="500" >
    <h1>Signal Processing (Python)</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content">
    <div class="squarecard">
      <img ngSrc="images/sp2.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/sp1.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
  </div>
</div>

<div class="projcontainer" id="bcode">
  <div class="proj-header">
    <img ngSrc="images/bcode.png" class="titleimage" placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content">
    <div class="squarecard">
      <img ngSrc="images/bc3.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>

    <div class="rectanglecard">
      <img ngSrc="images/bc1.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
  </div>
</div>

<div class="projcontainer" id="smart agri">
  <div class="proj-header">
    <img ngSrc="images/smart agri.png" class="titleimage"  placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content">
    <div class="squarecard">
      <img ngSrc="images/sa2.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/sa3.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/sa4.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="squarecard">
      <img ngSrc="images/sa1.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
  </div>
</div>

<div class="projcontainer" id="smart irrigation">
  <div class="proj-header">
    <img ngSrc="images/smart irrigation.png" class="titleimage" placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content">
    <div class="squarecard">
      <img ngSrc="images/si1.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/si2.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
  </div>
</div>

<div class="projcontainer" id="bschool">
  <div class="proj-header">
    <img ngSrc="images/bschool.png" class="titleimage" placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content">
    <div class="squarecard">
      <img ngSrc="images/bs2.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/bs1.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/bs4.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="squarecard">
      <img ngSrc="images/bs6.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="squarecard">
      <img ngSrc="images/bs7.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/bs3.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
  </div>
</div>

<div class="projcontainer" id="portfolio">
  <div class="proj-header">
    <img ngSrc="images/portfolio.png" class="titleimage" placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content"></div>
</div>

<div class="projcontainer" id="neon">
  <div class="proj-header">
    <img ngSrc="images/neon vs theme.jpg" class="titleimage" placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content">
    <div class="squarecard">
      <img ngSrc="images/cp2.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/cp4.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
  </div>
</div>

<div class="projcontainer" id="wow events">
  <div class="proj-header">
    <img ngSrc="images/wow events.png" class="titleimage" placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content"></div>
</div>

<div class="projcontainer" id="learning space">
  <div class="proj-header">
    <img ngSrc="images/ls0.png" class="titleimage" placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content">
    <div class="squarecard">
      <img ngSrc="images/ls2.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/ls3.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
  </div>
</div>

<div class="projcontainer" id="luna">
  <div class="proj-header">
    <img ngSrc="images/luna.png" class="titleimage" placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content">
    <div class="squarecard">
      <img ngSrc="images/luf1.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/luf2.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
  </div>
</div>

<div class="projcontainer" id="other potato">
  <div class="proj-header">
    <img ngSrc="images/anotherpotato.png" class="titleimage" placeholder  width="500" height="500" >
    <h1>TITLE</h1>
  </div>
  <p>2023 - 2024</p>
  <p>proj disc</p>
  <div class="tags">
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
    <button>Angular</button>
  </div>
  <div class="proj-content">
    <div class="squarecard">
      <img ngSrc="images/ap1.png" class="contentimage" placeholder  width="500" height="500" >
      <div class="carddisc">text text text text text</div>
    </div>
    <div class="rectanglecard">
      <img ngSrc="images/ap0.png" class="contentimage" placeholder  width="500" height="500"  >
      <div class="carddisc">text text text text text</div>
    </div>
  </div>
</div>

</div>

