.starscard {
  overflow: hidden;
  //background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  border-radius: 40px;
  background-color: rgb(17 24 39/1);
  margin-bottom: 50px;
  position: relative; //to make the gradient bg show up behind
}

.meteor {
  position: relative;
  top: var(--top);
  left: var(--left);
  width: 70px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0));
  animation: meteor var(--duration) linear infinite;

  // small glowing head of the meteor
  &:before {
    content: "";
    position: absolute;
    width: 2.2px;
    height: 2.2px;
    border-radius: 50%;
    margin-top: -1px;
    background: rgba(#fff, 0.3);
  }
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}
.underscreencontainer {
  position: relative;
  margin: 2.5rem;
}

.innerCard {
  display: flex;
  position: relative;
  flex-direction: column;
}

a {
  align-self: center;
}

.gradientborder {
  background-image: linear-gradient(to right, #14b8a6, #3b82f6);
  width: 87%;
  height: 80%;
  position: absolute;
  inset: 0;
  filter: blur(64px);
  border-radius: 9999px;
  // transform: scale(0.9, 0.75);
  align-self: center;
  justify-self: center;

}

.mail {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.mailcontent {
  display: flex;
  gap: .5rem;
  border-radius: 1.5rem;
  padding: .5rem 1rem;
  background: linear-gradient(#000 0 0) padding-box, linear-gradient(to right, #d946ef, #06b6d4) border-box;
  color: #fff;
  border: 3px solid transparent;
  align-items: center;
}

.mailcontent:hover {
  background: padding-box, linear-gradient(to right, #d946ef, #06b6d4) border-box;
}

h1 {
  font-size: 2.5rem;
  line-height: 2;
  color: rgb(255 255 255/1);
  font-weight: 700;
  text-align: center;
}

.indicatorborder {
  height: 1.25rem;
  width: 1.25rem;
  border: solid;
  border-radius: 999px;
  border-color: #6b7280;
  border-width: 1px;
  // padding: 0.1rem;
  text-align: center;
}

.indicator {
  width: .5rem;
  height: .5rem;
  padding-bottom: .2rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .gradientborder {
    width: 77%;
    height: 55%;
  }
}
