.screenContainer {
  //background-color: #1e1e1e;
  perspective: 1000px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
  padding-top: 10rem;
  text-align: -webkit-center;
  margin-top: 14.7rem;
}

.majorContainer {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: -webkit-fill-available;
  align-items: center;
}

::ng-deep {
  .screen {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid;
    border-color: #6c6c6c;
    border-radius: 40px;
    background-color: #111111;
    //aspect-ratio: 16/9;
    max-width: 61rem;
    height: 38rem;
    padding: 1.25rem;
    width: 100%;
  }
}

.screen::after { // there's a 1 pixel scrolling that happens after every page refresh, and using ::after pseudo element is the only that fixed this
  border-color: #6c6c6c;
  border-radius: 40px;
  background-color: #111111;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: scale(1.05) rotateX(14deg) translateZ(0px);

  transform-origin: center center;
  z-index: -1;
}

@media (min-width: 768px) {
  .screen {
    //height: 48rem;
  }
}

.other {
  background-color: aqua;
  width: 1000px;
  height: 1000px;
}

.other2 {
  background-color: #f0e10b;
  width: 1000px;
  height: 500px;
}

.screen-wrapper {
  width: 100%;
  height: 30rem;
  max-width: 64rem;
}

@media only screen and (max-width: 587px) {
  .screenContainer {
    margin-top: 8rem;
  }
  .screen {
    //width: 20rem;
    height: 27rem;
  }
}
.screenGrid{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: 200px 200px;
  /* height: 70vh; */
  /* grid-row-gap: 5vh; */
  background-color: #f5f5f5;
  gap: 1rem;
  //row-gap: 61px;
  border-radius: 25px;
  padding: 5rem 1.25rem 1.25rem;
}
.cell{
  //background-color: red;
  align-content: center;
  //border: solid;
  border-width: thin;
  //border-radius: 7px;
}
.imageDescContainer{

}
.imageContainer{
display: flex;
}

.description{

}
.imageInsideScreen{
  display: block;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #363636;
  border-radius: 7px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.underscreen{
  
}
