.screenContainer {
  background-color: #1e1e1e;
  perspective: 1000px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
  padding-top: 10rem;
  text-align: -webkit-center;
  margin-top: 13rem;
}

.majorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

::ng-deep {
  .screen {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid;
    border-color: #6c6c6c;
    border-radius: 40px;
    background-color: #111111;
    aspect-ratio: 16 / 9;
    width: 60rem;
    height: 40rem;
  }
}

.screen::after { // there's a 1 pixel scrolling that happens after every page refresh, and using ::after pseudo element is the only that fixed this
  border-color: #6c6c6c;
  border-radius: 40px;
  background-color: #111111;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: scale(1.05) rotateX(14deg) translateZ(0px);

  transform-origin: center center;
  z-index: -1;
}

@media (min-width: 768px) {
  .screen {
    //height: 48rem;
  }
}

.other {
  background-color: aqua;
  width: 500px;
  height: 1000px;
}

.other2 {
  background-color: #f0e10b;
  width: 500px;
  height: 500px;
}

.screen-wrapper {
  width: 100%;
  height: 30rem;
  max-width: 64rem;
}
