.container {
  //display: flex;
  //justify-content: space-around;
  //align-items: center;
  //background-color: black;
  //flex-direction: column;
  //padding-top: 290px;
  ///* gap: 150px; */
  //perspective: 1000px;
  padding-left: 90px;
  padding-right: 90px;
  //position: relative;
  //overflow: hidden;
  ////transform-style: preserve-3d

  display: flex;
  background-color: black;
  //padding-top: 482px;
  padding-top: 182px;
  perspective: 1000px;
  /* justify-items: center; */
  align-items: center;
  flex-direction: column;
  /* width: -webkit-fill-available; */
  //height: 5000px;
}
::ng-deep {
.screen {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: solid;
  /* min-width: -webkit-fill-available; */
  border-color: #6c6c6c;
  border-radius: 40px;
  background-color: #111111;
  /* max-width: 67rem; */
  aspect-ratio: 16 / 9;
  width: 999px;
  //height: 630px;
  height: 60rem;
}
}
//::ng-deep {
.screen::after {
//content: "";
//position: absolute;
//top: 0;
//left: 0;
//right: 0;
//bottom: 0;
//border: solid;
//border-color: #6c6c6c;
//border-radius: 40px;
//background-color: #111111;
//height: 500px;
//width: 600px;
//transform: scale(1.05) rotateX(14deg) translateZ(0px);
//z-index: -1;
//transform-origin: center center;
//align-self: center;
//place-self: center;


border-color: #6c6c6c;
border-radius: 40px;
background-color: #111111;

content: '';
position: absolute;
top: 50%;
left: 50%;
width: 100%;
height: 100%;
//background: inherit;
//border-radius: inherit;
transform: scale(1.05) rotateX(14deg) translateZ(0px);

//transform: translate(-50%, -50%) scale(1.05) rotateX(10deg);
transform-origin: center center;
z-index: -1;
}
//}

//::ng-deep {
//  .screen:after {
//    background-color: #ce3e3e;
//    width: 100%;
//    //height: 30;
//    border: solid;
//    border-color: #6c6c6c;
//    border-radius: 40px;
//    //transform: scale(1.05) rotateX(14deg) translateZ(0px);
//    scale: 1.05;
//    rotate: x 14deg;
//    transform-origin: center bottom;
//    margin-bottom: -5%; /* Adjust this value as needed */
//    position: relative;
//    top: -5%; /* Adjust this value as needed */
//    max-width: 64rem;
//    z-index: -1;
//  }
//}
@media (min-width: 768px) {
  .screen {
    //height: 48rem;
  }
}

.other {
  background-color: aqua;
  width: 500px;
  height: 1000px;
}

.other2 {
  background-color: #f0e10b;
  width: 500px;
  height: 500px;
}

.screen-wrapper {
  width: 100%;
  height: 30rem;
  max-width: 64rem;
}
