.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  flex-direction: column;
  padding-top: 290px;
  /* gap: 150px; */
  perspective: 1000px;
  padding-left: 90px;
  padding-right: 90px;
}

::ng-deep {
  .screen {
    background-color: #111111;
    width: 100%;
    height: 30rem;
    border: solid;
    border-color: #6c6c6c;
    border-radius: 40px;
    transform: scale(1.05) rotateX(14deg) translateZ(0px);
    max-width: 64rem;
  }
}
@media (min-width: 768px) {
  .screen {
    height: 50rem;
  }
}
.other {
  background-color: aqua;
  width: 500px;
  height: 500px;
}

.other2 {
  background-color: #f0e10b;
  width: 500px;
  height: 500px;
}
