$n: 60; // number of meteors

.starscard {
  overflow: hidden;
  //background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  border-radius: 40px;
  background-color: rgb(17 24 39/1);
  margin-bottom: 50px;
  position: relative; //to make the gradient bg show up behind
}

// spreading meteors through the card
@for $i from 1 through $n {
  $v: random(100) - 35; // left
  $h: random(350)* -1; // top
  $d: random(50)/10 + 2; // seconds

  .meteor-#{$i} {
    position: relative;
    top: $h + px;
    left: $v*1%;
    width: 70px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0));
    animation: meteor $d+s linear infinite;

    // small glowing head of the meteor
    &:before {
      content: "";
      position: absolute;
      width: 2.2px;
      height: 2.2px;
      border-radius: 50%;
      margin-top: -1px;
      background: rgba(#fff, .3);
    }
  }
}

// controlling the disappearance of meteors
@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}


.underscreencontainer {
  position: relative;
}

.innerCard {
  display: flex;
  position: relative;
  flex-direction: column;
}

a {
  align-self: center;
}

.gradientborder {
  background-image: linear-gradient(to right, #14b8a6, #3b82f6);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  filter: blur(64px);
  border-radius: 9999px;
  transform: scale(0.9, 0.75);
}

.mail {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.mailcontent {
  display: flex;
  gap: .5rem;
  border-radius: 1.5rem;
  padding: .5rem 1rem;
  background: linear-gradient(#000 0 0) padding-box, linear-gradient(to right, #d946ef, #06b6d4) border-box;
  color: #fff;
  border: 3px solid transparent;
  align-items: center;
}

.mailcontent:hover {
  background: padding-box, linear-gradient(to right, #d946ef, #06b6d4) border-box;
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
  color: rgb(255 255 255/1);
  font-weight: 700;
}
