<div class="underscreencontainer">
  <div class="gradientborder"></div>
  <div class="starscard">
    <div class="innerCard">
      <h1>Below are my projects ;)</h1>
      <a>
        <button class="mail">
          <div class="mailcontent">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                 stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
              <path d="M3 7l9 6l9 -6"></path>
            </svg>
            Email
          </div>
        </button>
      </a>
    </div>
    <div class="stars">
      <div class="star"></div>
      <div class="meteor-1"></div>
      <div class="meteor-2"></div>
      <div class="meteor-3"></div>
      <div class="meteor-4"></div>
      <div class="meteor-5"></div>
      <div class="meteor-6"></div>
      <div class="meteor-7"></div>
      <div class="meteor-8"></div>
      <div class="meteor-9"></div>
      <div class="meteor-10"></div>
      <div class="meteor-11"></div>
      <div class="meteor-12"></div>
      <div class="meteor-13"></div>
      <div class="meteor-14"></div>
      <div class="meteor-15"></div>
    </div>

  </div>
</div>
